<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag "/assets/bootstrap.css", media: "screen" %>
    <%#= stylesheet_link_tag "page" %>

    <!-- Header Section -->
  <div class="header">
   <div class="menu">
    <div class="container">
      <ul class="nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">New Project</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
   </div>
  </div>
 </div>


    <title>Флэшкарточкер</title>
    <link rel="stylesheet" href="./application.css">
  </head>

  <body>
    <section id="container">

      <header class="clearfix">
        <h1>Флэшкарточкер</h1>
        <ul class="navigation-links">
          <li><a href="#">Все карточки</a></li>
          <li><a href="#">Добавить карточку</a></li>
        </ul>
      </header>

      <%= yield %>

    </section>
  </body>
</html>
